
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
  

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #202125;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 24px;
  z-index: 2;

  span {
      font-weight: 200;
      font-size: 20px;
  }
}

.main-content {
  position: relative;
  top: 56px;
  margin-left: 200px;
  padding: 24px;
}

.container-main {
  border: 1px solid #ddd;
  padding: 24px 16px;
  margin-bottom: 16px;
  border-radius: 4px;

  h2, h3{
      margin-bottom: 10px;
  }
  
}